<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <title>Agregar</title>
</head>
<body>
    <header>

        <h1>LIBRO404</h1>

        <form action="settings.html"><button>volver</button></form>
    </header>
    <main>

    <section id="sectionAddNewBook">
        <input id="title" type="text" placeholder="nombre de la obra">
        <input id="author" type="text" placeholder="nombre autor">
        <input id="genre" type="text" placeholder="nombre genero">
        <input id="language" type="text" placeholder="nombre del lenguaje">
        <input id="price" type="number" placeholder="precio">
        <input id="format" type="text" placeholder="tipo de formato">
        <input id="isbn" type="text" placeholder="isbn">
        <input id="description" type="text" placeholder="descripcion del libro">
        <input id="condition" type="text" placeholder="condicion del libro">
        <input id="location" type="text" placeholder="localizacion dellibro">
        <input id="publication_date" type="text" placeholder="fecha de publicacion">
        <input id="publisher" type="text" placeholder="editoral a la que pertenece">
        <input id="pages" type="number" placeholder="cantidad de paginas">
        <input id="stock" type="number" placeholder="stock">
        <input type="submit" value="Enviar" onclick="submit();">
    </section>

    </main>
    <footer>
    </footer>
    <script src="app.js"></script>
</body>
</html>