<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <title>Agregar</title>
</head>
<body>
    <header>

        <h1>LIBRO404</h1>

        <form action="settings.html"><button class="btn-backAndOthersActions">volver</button></form>
    </header>
    <main class="add-Book-main">

    <section class="addBook-section" id="sectionAddNewBook">
        <input class="addBook-section-input" id="title" type="text" placeholder="nombre de la obra">
        <input class="addBook-section-input" id="author" type="text" placeholder="nombre autor">
        <input class="addBook-section-input" id="genre" type="text" placeholder="nombre genero">
        <input class="addBook-section-input" id="language" type="text" placeholder="nombre del lenguaje">
        <input class="addBook-section-input" id="price" type="number" placeholder="precio">
        <input class="addBook-section-input" id="format" type="text" placeholder="tipo de formato">
        <input class="addBook-section-input" id="isbn" type="text" placeholder="isbn">
        <input class="addBook-section-input" id="description" type="text" placeholder="descripcion del libro">
        <input class="addBook-section-input" id="condition" type="text" placeholder="condicion del libro">
        <input class="addBook-section-input" id="location" type="text" placeholder="localizacion dellibro">
        <input class="addBook-section-input" id="publication_date" type="text" placeholder="fecha de publicacion">
        <input class="addBook-section-input" id="publisher" type="text" placeholder="editoral a la que pertenece">
        <input class="addBook-section-input" id="pages" type="number" placeholder="cantidad de paginas">
        <input class="addBook-section-input" id="stock" type="number" placeholder="stock">
        <button class="btn-backAndOthersActions" id="btnAddBook">enviar</button>
    </section>

    </main>
    <footer>
    </footer>
    <script type="module" src="../Js/appAddNewBook.js"></script>
</body>
</html>