<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <title>Modificar</title>
</head>
<body>
    <header>

        <h1>LIBRO404</h1>

        <form action="settings.html"><button>volver</button></form>
    </header>
    <main>

    <section>
       
    </section>

    </main>
    <footer>
    </footer>
    <script src="app.js"></script>
</body>
</html>