<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <title>Modificar</title>
</head>
<body>
    <header>

        <h1>LIBRO404</h1>

        <form action="settings.html"><button class="btn-backAndOthersActions">volver</button></form>
    </header>
    <main>

    <section class="modify-P-section">
        <div class="modify-P-div">
            <label class="modify-P-label" for="bookSelect">Seleccionar Libro:</label>
            <select class="modify-P-input" class="modify-P-label" id="bookSelect"></select>
            <button class="btn-backAndOthersActions" id="btnModifyPublisher">Eliminar</button>
        </div>
    
        <div id="changeDone"></div>
    </section>

    </main>
    <footer>
    </footer>
    <script type="module" src="../Js/appDelteBook.js"></script>
</body>
</html>