<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <title>UNETENOS</title>
</head>
    <body>
        <header class="Catalogue-header">
            <div class="Catalogue-div-title-nav">
                <h1>LIBRO404</h1>
                <nav>
                    <a href="../index.html">Inicio</a>
                    <a href="settings.html">Ajustes</a>
                    <a class="catalogue-nav-a-special" href="joinUs.html">Unetenos</a>
                </nav>
            </div>
        </header>
        <main>
        
        <section id="form">
            <label id="date"></label>
            <label>Nombre</label>
            <input class="joinUs-from-inputs" id="name" type="text"> 
            <label>Email</label>
            <input class="joinUs-from-inputs" id="email" type="text"> 
            <label>Numero de celular</label>
            <input class="joinUs-from-inputs" id="number" type="text">
            <label>Dirección</label>
            <input class="joinUs-from-inputs" id="address" type="text">
            <input id="joinUs-from-inputs-btn" class="btn-backAndOthersActions" type="submit">
        </section>

        </main>
        <footer id="footerSpecial">
            <div id="pharsesFooter">
                <h4>“El infierno está vacío y todos los demonios están aquí”.</h4>
                <h4>'William Shakespeare'</h4>
            </div>
        </footer>
    <script src="../Js/appJoinUs.js"></script>
    </body>
</html>