<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <title>Modificar</title>
</head>
<body>
    <header>

        <h1>LIBRO404</h1>

        <form action="settings.html"><button class="btn-backAndOthersActions">volver</button></form>
    </header>
    <main>

    <section>
        <div>
            <label for="bookSelect">Seleccionar Libro:</label>
            <select id="bookSelect"></select>
            <label for="newPublisherInput">Nuevo editor:</label>
            <input type="text" id="newPublisherInput">
            <button class="btn-backAndOthersActions" id="btnModifyPublisher">Modificar editor</button>
        </div>
    
        <div id="changeDone"></div>
    </section>

    </main>
    <footer>
    </footer>
    <script type="module" src="../Js/appModifyPublisher.js"></script>
</body>
</html>