<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <title>AJUSTES</title>
</head>
    <body>
        <header class="Catalogue-header">
            <div class="Catalogue-div-title-nav">
                <h1>LIBRO404</h1>
                <nav>
                    <a href="../index.html">Inicio</a>
                    <a class="catalogue-nav-a-special"  href="settings.html">Ajustes</a>
                    <a href="joinUs.html">Unetenos</a>
                </nav>
            </div>
        </header>
        <main>
        
            <section class="settings-section">
                <aside class="settings-section-aside">
                    <h3>Añadir un nuevo libro</h3>
                    <p class="settings-section-asid-p">Aqui se podra agragar un nuevo libro en el array a través de un formulario</p>
                    <form action="addNewBook.html"><button class="btn-backAndOthersActions">ir</button></form>
                </aside>
                <aside class="settings-section-aside">
                    <h3>Modificar la editorial</h3>
                    <p class="settings-section-asid-p">Aqui se podra modificar la editorial de un libro</p>
                    <form action="ModifyPublisher.html"><button class="btn-backAndOthersActions">ir</button></form>
                </aside>
                <aside class="settings-section-aside">
                    <h3>Eliminar un libro</h3>
                    <p class="settings-section-asid-p">Aqui se podra eliminar un libro dentro del array a través de un motor de busqueda</p>
                    <form action="delteBook.html"><button class="btn-backAndOthersActions">ir</button></form>
                </aside>
                <aside class="settings-section-aside">
                    <h3>Aumentar el stock de un libro</h3>
                    <p class="settings-section-asid-p">Aqui se podra aumentar el stock de un libro en especifico</p>
                    <form action="stockMore.html"><button class="btn-backAndOthersActions">ir</button></form>
                </aside>
                <aside class="settings-section-aside">
                    <h3>Disminuir el stock de un libro</h3>
                    <p class="settings-section-asid-p">Aqui se podra disminuir el stock de un libro en especifico</p>
                    <form action="stockLess.html"><button class="btn-backAndOthersActions">ir</button></form>
                </aside>
            </section>

        </main>
        <footer id="footerSpecial">
            <div id="pharsesFooter">
                <h4>“No se puede vivir con miedo”, dijo mi abuela. “El miedo mata la mente, mata el corazón y mata el alma”.</h4>
                <h4>Stephen King</h4>
            </div>
        </footer>
    </body>
</html>