<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <title>settings</title>
</head>
    <body>
        <header>

            <h1>LIBRO404</h1>
            <nav>
                <a href="../index.html">Inicio</a>
                <a href="settings.html">Ajustes</a>
                <a href="joinUs.html">Unetenos</a>
            </nav>

        </header>
        <main>
        
            <section>
                <aside>
                    <h3>Añadir un nuevo libro</h3>
                    <p>Aqui se podra agragar un nuevo libro en el array a través de un formulario</p>
                    <form action="addNewBook.html"><button>ir</button></form>
                </aside>
                <aside>
                    <h3>Modificar la editorial</h3>
                    <p>Aqui se podra modificar la editorial de un libro</p>
                    <form action="ModifyPublisher.html"><button>ir</button></form>
                </aside>
                <aside>
                    <h3>Eliminar un libro</h3>
                    <p>Aqui se podra eliminar un libro dentro del array a través de un motor de busqueda</p>
                    <form action="delteBook.html"><button>ir</button></form>
                </aside>
                <aside>
                    <h3>Añadir y eliminar el stock de un libro</h3>
                    <p>Aqui se podra agragar u eleminar el stock de un libro dentro del array</p>
                    <form action="stockBooks.html"><button>ir</button></form>
                </aside>
            </section>

        </main>
        <footer>
            
        </footer>
    <script src="app.js"></script>
    </body>
</html>